body {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    background-color: indianred;
    justify-content: center;
    align-items: center;
    min-width: 510px;
    font-family: sans-serif;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main {
    display: flex;
    flex-direction: column-reverse;
}

#buttons {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-evenly;
    flex: 0;
    background-color: indianred;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button {
    margin: 10px 0;
    color: midnightblue;
    background-color: white;
    border-radius: 5px;
    border: solid darkslategrey;
    width: 60px;
    height: 25px;
    font-weight: 600;
    text-align: center;

}

.container {
    background-color: white;
    border: solid indianred;
    border-width: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 500px;
    min-width: 500px;
    max-height: 500px;
    max-width: 500px;
    text-align: center;
    flex: 1;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.container > div {
    margin: 0;
    padding: 0;
}